.hero {
    background-color: black;
    color: white;

    .hero-title {
        font-size: 2rem !important;
        font-weight: 300 !important;
    }
    
    .hero-subtitle {
        font-size: 1.25rem !important;
        font-weight: 300 !important;
    }

    > .row {
        padding: 160px 0 !important;
    }
}