.hero {
    background-color: black;
    color: white;
    padding: 160px 24px !important;
    
    .hero-title {
        font-size: 2rem !important;
        font-weight: 300 !important;
    }
    
    .hero-subtitle {
        font-size: 1.25rem !important;
        font-weight: 300 !important;
    }
}