.full-width {
    border: solid 2px;
}

.section {
    width: 100%;
    text-align: center;
    background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;
}

.navbar-toggler {
    border: none !important;
    outline: none !important;
}

.navbar-toggler:focus, 
.navbar-toggler:active {
    box-shadow: none !important;
}


.services-container {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-card {
    text-align: center;
    border: none;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.service-card:hover {
    transform: scale(1.05);
}

.about-container {
    padding: 40px 0;
    border-top: solid #777 0.5px;
    p {
        margin-top: 28px;
    }
}

.image-container {
    position: relative;
    display: inline-block;
    border-radius: 24px;
    border: 5px solid #e0b34b;
    padding: 5px;
    background: white;
}

.about-image {
    width: 100%;
    height: auto;
    max-width: 600px;
    border-radius: 16px;
}

.image-caption {
    margin-top: 16px;
    font-style: italic;
    color: #777;
}

.highlight-text {
    font-style: italic;
    font-weight: 500;
}

.contact-container {
    text-align: center;
    padding: 80px 0;
    background: linear-gradient(to right, #ececec, white);
}

.contact-text {
    text-align: center;
}

.contact-buttons {
    display: flex;
    justify-content: center;
    gap: 20%;
}

.useful-links {
    text-decoration: none;
    color: black;
    display: inline-block;
    transition: transform 0.2s ease-in-out;
}

.useful-links:hover {
    transform: scale(1.10);
}

.footer-foot {
    display: flex;
    justify-content: space-around;
}

.button--white,
.button--black,
.select-button {
    max-height: 300px;
    overflow-y: auto;
}
 
.button--white {
    position: relative;
    text-align: center;
    display: inline-block;
    padding: 14px;
    background-color: transparent;
    color: white;
    border: white solid;
    color: white;
    overflow: hidden;
    transition: color 0.2s ease, border-color 0.2s ease;
    z-index: 1;
}

.button--white::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0%;
    height: 100%;
    background-color: white;
    transform: translate(-50%, -50%);
    transition: width 0.2s ease-in-out;
    z-index: -1; /* Moves behind the text */
}

.button--white:hover::after {
    width: 100%;
}

.button--white:hover {
    color: black;
}

.flipped-image {
    transform: scaleX(-1);
}

.base-width {
    width: 100% !important;
    padding: 0 24px !important;
    transition: 1s width;
}

.base-padding {
    padding: 16px 48px !important;
    overflow: hidden;
}

@media only screen and (min-width: 1300px) {
    .base-width {
        width: 1300px !important;
        padding: 0 !important;
        overflow: hidden;
    }
}